# Last match in file takes precedence.

# Ping for all PRs
# * 

# CI/CD
/.github @Deatherd
/Tools @Deatherd

# Locale
#/Resources/Locale

# Textures
#/Resources/Textures/_IS

# Map files
#/Resources/Prototypes/_IS/Entities/Stations
#/Resources/Prototypes/_IS/Maps
#/Resources/Maps/_IS

# License files
EULA.txt @Melvilla-G
